@media screen and (min-width: 900.01px) {

  /*MENU*/
  #menuButton { transform: translateX(0px);}

  /*COPYRIGHT*/
  #copyright {
    height:90vh;
    width:40vw;
    background-color: #f9fbff;
    position:fixed;
    display:none;
    left:30vw;
    bottom:0vh;
    z-index: 1;
  }

  /*GROUPS*/
  #groupColumn {
    width: 20vw;
  }

  #groupTitle { height: 60px !important; }

  #groupColumn div {
    border-image: linear-gradient(to right, white, grey);
    height: 54px;
  }

  #groupColumn div button {
    margin-right: 6px;
    margin-top: 6px;
  }

  .setGroupButton { height: 40px; }

  .groupSettings { height: 40px; }

  .groupSettings img { height: 100%; }

  #groupColumnClose { display: none; }

  /*CHAT*/
  #chatColumn{
    width: 60vw;
    border-left: 4px solid grey;
  }

  #chat {
    height: calc(100% - 50px);
  }

  #chat > p {
    margin-top: 0;
  }

  #chatBar {
    height: 50px;
  }

  #messageBox {
    width: calc(93% - 10px);
    height: calc(100% - 10px);
    padding-left: 5px;
    margin: 5px;
  }

  #sendMessage {
    width: 7%;
    height: 100%;
    border: none;
    float: right;
  }

  /*DEELNEMERS*/
  #memberColumn {
    width: 20vw;
    border-color: grey;
    border-left-style: solid;
  }

  #memberColumnTitle, .member {
    width: 20vw;
    text-align: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, white, grey);
    border-image-slice: 1;
    border-style: none none solid none;
  }

  .member {
    margin: 0;
    padding-bottom: 10px;
    width: calc(100% - 50px);
    display: inline-block;
  }

  .removeMemberButton{
    height: 40px;
    margin-top:10px;
  }

  #addMember {
    width: 55%;
    margin-left: 10%;
    margin-top: 10px;
    height: 16px;
  }

  #addMemberButton {
    height: 16px;
    overflow: visible;
    float: right;
    margin-right: 15%;
  }

  #addMemberButton img {
    height: 40px;
  }
  #editGroup {
    display: none;
    position: absolute;
    width: 20vw;
    height: 100px;
    background-color: #01adc5;
  }
  #deleteGroup {
    width: 80%;
    margin-top: 20px;
    background-color: #f08521;
    margin-left: 10%;
    border: 1px solid black;
  }

  #deleteGroup p {
    width: 80%;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
  }

  #deleteGroup img {
    width: 10%;
    float: right;
    margin-right: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  /*NIEUWE GROEP*/
  #newGroup {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 450px;
    height: 90px;
    background-color: #f08521;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #newGroupButton:hover {
    cursor: pointer;
  }

  #newGroupName {
    padding:10px;
    margin-top: 25px;
    margin-left: 100px;
  }

  #createNewGroup {
    border: none;
    margin-right: 5px;
    margin-top: 15px;
    height: 60px;
    float: right;
  }

  #newGroupButton {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 90px;
  }

  .blur {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
  }
}
