@viewport {
  height: device-height;
  width: device-width;
  zoom: 1.0 ;
}

@font-face {
    font-family: "Karbid";
    src: url("Karbid-Normal.otf") format("opentype");
}

* {
  outline:none;
  font-family: "Karbid";
  color: inherit;
  font-size: 20px;
}

html, body, #container {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a { text-decoration: none;}

a:hover { text-decoration: underline;}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:hover { cursor: pointer; }

/*button::-moz-focus-inner { border:0; }*/

button img { height: 100%; }

h2 {
  display: inline-block;
  height: 36px;
  font-size: 30px;
}

input { border: 1px solid;}

li { list-style-type: none;}

textarea {
  height: 1em;
  width: 28ch;
  resize: none;
  overflow: hidden;
}

ul {
  margin:0px;
}

/*HEADER*/
#header {
  height: 12vh;
  min-height: 32px;
  max-height: 100px;
  width: calc(100vw - 10px);
  background-color: #01adc5;
  padding: 10px;
}

#header img { height: 100%;}

/*!!AFHANKELIJK VAN DE AFBEELDING
max width: max-height in px * img-width / img-height + 2 * padding
max height: (100vw - 2 * padding) * img-height / img-width */
@media (max-width: 440.88px) {
  #header { max-height: calc(23.76vw - 4.76px);}
  #loginContent { min-height: calc(100vh - 23.76vw - 15.24px);}}

#loginContent {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 120px);
  width: 100vw;
  margin:0;
}

@media (max-height: 833.33px) {
  #loginContent { height: calc(88vh - 20px);}
  @media (max-height: calc(84px + 51vh + 3em)) {
   #loginContent { overflow-y: scroll;}}}
@media (max-height: 266.67px) {
  #loginContent { height: calc(100vh - 52px);}
  @media (max-height: calc(116px + 39vh + 3em)) {
   #loginContent { overflow-y: scroll;}}}


/*LOGIN PAGINA*/
#loginForm {
  width: calc(15vw + 200px);
  margin: auto;
  margin-top: calc(30vh - 50px);
  text-align: center;
}

#loginForm h2 { margin: 15px;}

#loginForm input {
  height: calc(1em + 4px + 3vh);
  width: calc(100% - 12px);
  margin: 4px;
  padding: 2px;
  padding-left: 8px;
}

#loginForm input[type="submit"] {
  width: 100%;
  border: 2px solid black;
}

/*MENU*/
#menu {
  height: 100vh;
  position: absolute;
  top:0;
  background-color: #f08521;
}

#menuTitle {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, white, #f08521);
  border-image-slice: 1;
  border-style: none none solid none;
}

#menuButton {
  visibility: visible;
  display: block;
  position: absolute;
  padding: 0;
  overflow: hidden;
}

#menu * {
  color: white;
}

#menu ul li {
  margin-bottom: 10px;
}

#menu ul li * {
  font-size: 20px;
}

#menu ul li *:hover {
  text-decoration: underline;
}

#menu ul li form input {
  background-color: transparent;
  border: none;
  padding: 0;
}

/*GROEPEN*/
#groupColumn, #chat, #memberColumn { overflow-y: scroll; overflow-x: hidden;}

#groupColumn div {
  display: block;
  border-bottom: 2px solid transparent;
  border-image-slice: 1 !important;
  text-align: center;
  margin: 0;
}

#groupColumn div p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#groupColumn div button { float: right; }

.groupSettings { float: left !important; }

/*CHAT*/
#messageBox {
  border: 1px solid black;
}
