@font-face {
    font-family: "Karbid";
    src: url("Karbid-Normal.otf") format("opentype");
}

* {
  outline:none;
  font-family: "Karbid";
}

html { overflow: hidden; }

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:hover { cursor: pointer; }

button::-moz-focus-inner { border:0; }

button img { height: 100%; }

li {
  list-style-type: none;
}

textarea {
  resize: none;
  height: 1em;
  width: 28ch;
  overflow: hidden;
}

ul {
  margin:0px;
}

h2 {
  font-size: 30px;
  display: inline-block;
  margin-top: 10px;
}

/*MENU*/
.menu {
  position: absolute;
  top:0;
  background-color: #f08521;
  visibility: hidden;
  height: 100vh;
}

.menuTitle {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, white, #f08521);
  border-image-slice: 1;
  border-style: none none solid none;
}

.menuButton {
  visibility: visible;
  position: absolute;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li * {
  color: white;
  font-size: 20px;
}

.menu ul li *:hover {
  text-decoration: underline;
}

.menu ul li form input {
  background-color: transparent;
  border: none;
  padding: 0;
}

/*HEADER*/
.header { background-color: #01adc5; }

/*GROEPEN*/
#groupColumn, #chat, #memberColumn { overflow-y: scroll; overflow-x: hidden;}

#groupColumn div {
  display: block;
  border-bottom: 2px solid transparent;
  border-image-slice: 1 !important;
  text-align: center;
  margin: 0;
}

#groupColumn div p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#groupColumn div button { float: right; }

.groupSettings { float: left !important; }

/*CHAT*/
#messageBox {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
