@media screen and (max-width: 900px) {

  /*HEADER*/
  #header { grid-area: header;}

  /*MENU*/
  #menu { grid-area: menu;}

  @media (min-height: 833.34px) {
    #menuButton { transform: translateX(126.22px);}}
  @media (min-height: 266.67px) and (max-height: 833.33px) {
    #menuButton { transform: translateX(calc(14.06vh + 9.03px));}}
  @media (max-height: 266.66px) {
    #menuButton { transform: translateX(46.53px);}}

  /*COPYRIGHT*/
  #copyright { display: none; }

  /*GROUPS*/
  #groupColumn {
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: -70vw;
    top: 0;
    background-color: #f08521;
    z-index: 1;
    visibility: hidden;
  }

  #groupColumn div { border-image: linear-gradient(to right, #f08521, white); }

  #groupColumn div p { width: calc(100% - 100px); }

  #groupColumn button {
    margin: 5px;
    height: 40px;
  }

  #groupColumn img { height: 100%;}

  #groupColumnClose {
    cursor: pointer;
    position: absolute;
    left: 55vw;
    height: 68px;
  }

  #groupColumnClose img {
    height: 68px;
    margin: 0;
  }

  /*CHAT*/
  #chat {
    width: 100%;
    height: calc(85vh - 50px);
  }

  #chatBar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #messageBox {
    width: calc(100% - 145px);
    border: 1px solid black;
    padding: 0;
    height: 7vh;
    padding-left: 2px;
    margin-left: 70px;
    background-image: linear-gradient(white, #EEEEEE);
    font-size: 3vh;
    border-radius: 6px;
  }

  #sendMessage, #newGroupButton {
    border: none;
    padding: 0;
    height: 50px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 1px;
  }

  #sendMessage { float: right; }

  /*DEELNEMERS*/
  #memberColumn { display: none; }

  /*NIEUWE GROEP*/
  #newGroup {
    grid-area: newGroup;
    height: 15vh;
    width: 70vw;
    position: absolute;
    bottom: 0;
    left: -70vw;
    background-color: #f08521;
    z-index: 2;
    visibility: hidden;
  }

  #newGroup form {
    width: 60vw;
    margin-left: 5vw;
  }

  #newGroup form input {
    width: 60vw;
    height: 5vh;
    padding-left: 6px;
    border-radius: 5px;
    border: 1px solid black;
  }

  #newGroupButton {
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px;
  }

  #newGroupName {
    /* margin-top:-5px; */
  }

  #createNewGroup {
    margin-top: 5px;
    height: 40px;
  }

  /*EDIT GROEP*/
  #editGroup {
    visibility: hidden;
    position: absolute;
    width: 20vw;
    height: 100px;
    background-color: #01adc5;
  }
}
