@media screen and (max-width: 900px) {

  /*LOGIN PAGINA*/

  /*INDEX.HTML*/
  .container {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas:
    "header header header header header"
    "content content content content content";
  }

  /*MENU*/
  .menu {
    grid-area: menu;
    width: 80vw;
    right: -80vw;
    -webkit-box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
    box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
  }

  .menuButton {
    right: 80vw;
    height: 12vh;
    min-height: 32px;
    max-height: 16vw;
    top: 1vh;
  }

  .menuButton img { visibility: visible; }

  /*HEADER*/
  .header {
    grid-area: header;
    min-height: 40px;
    max-height: 20vw;
  }

  .header img {
    height: 80%;
    margin-top: 1.2vh;
    margin-left: 2vw;
  }

  /*COPYRIGHT*/
  .copyright { display: none; }

  /*CONTENT*/
  .content { grid-area: content; }

  /*GROUPS*/
  #groupColumn {
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: -70vw;
    top: 0;
    background-color: #f08521;
    z-index: 1;
    visibility: hidden;
  }

  #groupColumn div { border-image: linear-gradient(to right, #f08521, white); }

  #groupColumn div p { width: calc(100% - 100px); }

  #groupColumn button {
    margin: 5px;
    height: 40px;
  }

  #groupColumn img { height: 100%;}

  .groupColumnClose {
    cursor: pointer;
    position: absolute;
    left: 55vw;
    height: 68px;
  }

  .groupColumnClose img {
    height: 68px;
    margin: 0;
  }

  /*CHAT*/
  #chat {
    width: 100%;
    height: calc(85vh - 50px);
  }

  #chatBar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #messageBox {
    width: calc(100% - 145px);
    border: 1px solid black;
    padding: 0;
    height: 7vh;
    padding-left: 2px;
    margin-left: 70px;
    background-image: linear-gradient(white, #EEEEEE);
    font-size: 3vh;
    border-radius: 6px;
  }

  #sendMessage, #newGroupButton {
    border: none;
    padding: 0;
    height: 50px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 1px;
  }

  #sendMessage { float: right; }

  /*DEELNEMERS*/
  #memberColumn { display: none; }
  
  /*NIEUWE GROEP*/
  #newGroup {
    grid-area: newGroup;
    height: 15vh;
    width: 70vw;
    position: absolute;
    bottom: 0;
    left: -70vw;
    background-color: #f08521;
    z-index: 2;
    visibility: hidden;
  }

  #newGroup form {
    width: 60vw;
    margin-left: 5vw;
  }

  #newGroup form input {
    width: 60vw;
    height: 5vh;
    padding-left: 6px;
    border-radius: 5px;
    border: 1px solid black;
  }

  #newGroupButton {
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px;
  }

  #newGroupName {
    /* margin-top:-5px; */
  }

  #createNewGroup {
    margin-top: 5px;
    height: 40px;
  }
}
