  /*Algemene stijl*/
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Ariel", Helvetica, sans-serif;
    height: 100%;
    margin: 0px;
  }

  button {
    background-color: Transparent;
    border: none;
  }

  button:focus {
    outline: 0;
  }

  .container {
    height: 100%;
    width: 100%;
  }

  .header {
    background-color: #44C8F5;
    height: 80px;
  }

  .header h1 {
    color: white;
    display: inline-block;
    margin-left: 1%;
  }

  .header img {
    max-height: 100%;
    float: right;
  }

  .menuButton {
    float: right;
  }

  .menu {
    display: none;
    background-color: #4388CC;
    color: white;
    height: 100%;
  }

  .menu h2 {
    font-size: 30px;
    display: inline-block;
    margin-left: 3%;
  }

  #menuButtonMenu {
    display: none;
  }

  .content {
    height: 80%;
  }

  /*Als het menu actief is wordt de volgende stijl toegepast:*/
  .menuActive .header {
    width: 80%;
    float: left;
  }

  .menuActive .menu {
    margin-left: 80%;
  }

  .menuActive .content {
    width: 80%;
    float: left;
  }
