html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Ariel", Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  outline: none;
}

/*---DESKTOP---*/
.menuButton {
  float: right;
  margin-top: 15px;
  height: 70px;
  padding: 0;
}

.menuButton img {
  height: 70px;
}

/*MENU*/
.menu {
  float: right;
  width: 20%;
  background-color: #4388CC;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: 1px solid black;
  color: white;
  display: none;
}

.menu h2 {
  margin-left: 20px;
  font-size: 30px;
  display: inline-block;
  margin-left: 20px;
}

/*HEADER*/
.header {
  height: 100px;
  background-color: #44C8F5;
  border-bottom: 1px solid black;
}

.header h1 {
  font-style: italic;
  font-size: 30px;
  color: white;
  margin: 30px 0 0 20px;
  display: inline-block;
}

.header img {
  max-height: 100%;
  float: right;
}

.header a img {
  margin-right: 15%;
}

#menuButtonHeader {
  position: absolute;
  right: 0px;
}

/*CONTENT*/
.content {
  width: 100%;
  height: calc(100% - 101px);
}

.contactColumn {
  width: 20%;
  height: 100%;
  background-color: white;
  float: left;
}

.contactColumn div {
  display: block;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 0;
}

.contactColumn div p,h2 {
  display: inline-block;
}

.contactColumn img {
  float: right;
  margin-right: 20px;
  height: 40px;
}

.chatColumn {
  margin-left: 20%;
  width: 80%;
  height: 100%;
  background-color: white;
  border-left: 1px solid black;
}

/*NIEUWE GROEP*/
.newChat {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 30%;
  height: 50%;
  background-color: #4388CC;
}

.newChatButton {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.newChatButton img {
  height: 80px;
}

/*---MOBIEL---*/
@media screen and (max-width: 800px) {}
