body {
  font-family: "Ariel", Helvetica, sans-serif;
}

/*Grid stijl*/

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "content content content content"
    "content content content content";
}

.container#menuActive {
  grid-template-areas:
    "header header header menu"
    "content content content menu"
    "content content content menu";
}

/*Header stijl*/

.header {
  grid-area: header;
}

.header h1 {
  display: inline-block;
}

#menuButton {
  float: right;
}


/*Menu stijl*/

.menu {
  grid-area: menu;
    display: none;
}

/*Content stijl*/

.content {
  grid-area: content;
}
