@viewport {
  height: device-height;
  width: device-width;
  zoom: 1.0 ;
}

@font-face {
    font-family: "Karbid";
    src: url("Karbid-Normal.otf") format("opentype");
}

* {
  outline:none;
  font-family: "Karbid";
  color: inherit;
  font-size: 20px;
}

html, body {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a { text-decoration: none;}

a:hover { text-decoration: underline;}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:hover { cursor: pointer; }

button::-moz-focus-inner { border:0; }

button img { height: 100%; }

h2 {
  display: inline-block;
  height: 36px;
  font-size: 30px;
}

input { border: 1px solid;}

li { list-style-type: none;}

textarea {
  height: 1em;
  width: 28ch;
  resize: none;
  overflow: hidden;
}

ul { margin:0px;}

/*HEADER*/
#header {
  height: 12vh;
  min-height: 32px;
  max-height: 100px;
  width: calc(100vw - 20px);
  padding: 10px;
  background-color: #01adc5;
}

#header img { height: 100%;}

/*!!AFHANKELIJK VAN DE AFBEELDING
max width: max-height in px * img-width / img-height + 2 * padding
max height: (100vw - 2 * padding) * img-height / img-width */
@media (max-width: 440.88px) {
  #header { max-height: calc(23.76vw - 4.76px);}
  #content { min-height: calc(100vh - 23.76vw - 15.24px);}}

/*CONTENT*/
#content {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 120px);
  width: 100vw;
  margin:0;
  display: grid;
  grid-template-areas:
    'groups chat members'
}

@media (max-height: 833.33px) {
  #content { height: calc(88vh - 20px);}}
@media (max-height: 266.67px) {
  #content { height: calc(100vh - 52px);}}
@media (max-height: calc(143px + 51vh)) {
   #content { overflow-y: scroll;}}

/*LOGIN PAGINA*/
#loginForm {
  grid-column: 1 / 4;
  width: calc(9vw + 300px);
  max-width: calc(100vw - 8px);
  margin: calc(30vh - 50px) auto 0;
  text-align: center;
}

#loginForm h2 { margin: 15px;}

#loginForm input {
  height: calc(1em + 4px + 3vh);
  width: calc(100% - 20px);
  margin: 4px;
  padding: 2px;
  padding-left: 8px;
}

#loginForm input[type="submit"] {
  width: calc(100% - 8px);
  border: 2px solid black;
}

/*MENU*/
#menu {
  position: absolute;
  top:0;
  right: -350px;

  height: 100vh;
  width: 20vw;
  min-width: 250px;
  max-width: 350px;

  z-index: 1;
  color: white;
  background-color: #f08521;
  -webkit-box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
  box-shadow: -15px 0px 12px -10px rgba(0, 0, 0, 0.18);
}

@media (max-width: 1750px) {
  #menu { right: -20vw;}}
@media (max-width: 1250px) {
  #menu { right: -250px;}}

#menuButton {
  position: fixed;
  top: 7px;
  right: 0;

  height: calc(12vh + 6px);
  min-height: 38px;
  max-height: 106px;

  transition: transform linear 0.2s;
}

#menuTitle {
  padding-left: 20px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, white, #f08521);
  border-image-slice: 1;
  border-style: none none solid;
}

#menu ul { padding-left: 10px;}

#menu ul li { margin: 10px;}

#menu ul li * { font-size: 20px;}

#menu ul li *:hover {
  text-decoration: underline;
  cursor: pointer;
}

#menu ul li form:hover {
  text-decoration: none;
  cursor: default;
}

#menu ul li form input {
  padding: 0;
  background-color: transparent;
  border: none;
}

/*COPYRIGHT*/
#copyright {
  height:90vh;
  width:40vw;
  background-color: #f9fbff;
  position:fixed;
  display:none;
  left:30vw;
  bottom:0vh;
  z-index: 1;

  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#copyright p {
  height: calc(100% - 40px);
  margin: 0 60px 0;
  padding-left: 4px;
  padding-top: 46px;
  border-left: 2px solid red;
  white-space: pre-line;
  line-height: 20px;
}

/*GROEPEN*/
#groupColumn, #chatColumn, #memberColumn { overflow-y: hidden; overflow-x: hidden;}

#newGroupImage { transition-duration: 0.4s;}

#groupTitle, #groups div {
  display: block;
  border-bottom: 2px solid transparent;
  border-image-slice: 1 !important;
  text-align: center;
  margin: 0;
}

#groups p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#groups button { float: right; }

.groupSettings { float: left !important; }

/*CHAT*/
#messageBox {
  border: 1px solid black;
}
